.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  margin-top: 80px;
}

.imageContainer {
  transform: translateY(-20px);
}

@media (max-width: 900px) {
  .imageContainer {
    display: none;
  }
}
