.container {
  min-height: 100vh;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.main.withSidebar {
  margin-left: 245px;
  border-left: 1px solid #dbdbdb;
}

@media (max-width: 1264px) {
  .main.withSidebar {
    margin-left: 72px;
  }
}